<div class="grid__wrapper">
  <igx-tree-grid igxPreventDocumentScroll #grid1 [data]="localData" childDataKey="Employees" width="100%" height="500px"
      displayDensity="compact" (activeNodeChange)="customKeydown($event)" [autoGenerate]="false" [cellSelection]="'none'" [rowSelection]="'single'" [allowFiltering]="true" primaryKey="ID">
      <igx-paginator></igx-paginator>
      <igx-column field="HireDate" dataType="date" [sortable]="true" [editable]="true" [movable]="true"
          [resizable]="true"></igx-column>
      <igx-column field="Age" dataType="number" [sortable]="true" [editable]="true" [movable]="true"
          [resizable]="true"></igx-column>
      <igx-column field="Name" dataType="string" [sortable]="true" [editable]="true" [movable]="true"
          [resizable]="true"></igx-column>
  </igx-tree-grid>
</div>
